<main class="main">
  <div class="form-generator">
    <form class="form" [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>Висота точки зльоту</mat-label>
        <input [formControlName]="'startPointHeight'"
               matInput placeholder="Висота точки в метрах" value="">
      </mat-form-field>

      <mat-divider></mat-divider>

      <div class="form-line">
        <mat-form-field>
          <mat-label>Висота точки перегибу</mat-label>
          <input [formControlName]="'riftPointHeight'"
                 matInput placeholder="Висота точки в метрах" value="">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Дальність точки перегибу</mat-label>
          <input [formControlName]="'riftPointDistance'"
                 matInput placeholder="Дальність точки в кілометрах" value="">
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div class="form-line">
        <mat-form-field>
          <mat-label>Висота точки цілі</mat-label>
          <input [formControlName]="'targetPointHeight'"
                 matInput placeholder="Висота точки в метрах" value="">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Дальність точки цілі</mat-label>
          <input [formControlName]="'targetPointDistance'"
                 matInput placeholder="Дальність точки в кілометрах" value="">
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div class="button-container">
        <button matButton="filled" (click)="calculate()">Розрахувати</button>
      </div>
    </form>

    @if (launched) {
      @if (result > 0) {
        <div class="result-frame">
          Ретранслятор необхідно підняти на наступну висоту від точки вильоту: {{result | number:'1.2-2' }}м.
        </div>
      } @else {
        <div class="result-frame">
          Немає необхідності в використанні ретранслятору.
        </div>
      }
    }
  </div>
</main>

<router-outlet />
